@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
    --blue: #0065fc;
    --clearBlue: #deebff;
    --grey: #f2f2f2;
    --font: "Raleway", sans-serif;
}

body {
    width: 90%;
    margin: auto;
    font-family: var(--font);
}

header {
    height: 100px;
    margin-bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100px;
    height: 30px;
}

header nav {
    font-size: 11pt;
}

header .blue {
    color: var(--blue);
}

header nav ul {
    display: flex;
}

nav ul li, footer ul li {
    margin-right: 30px;
    list-style-type: none;
}

nav a, footer a {
    text-decoration: none;
    color: black;
}

nav a:hover, nav a:focus {
    border-top: 1px solid var(--blue);
    padding-top: 30px;
    color: var(--blue);
}

#sub-title {
    margin-top: 0px;
}

#sub-title p {
    margin-top: -10px;
    font-size: 13px;
}

#search {
    margin-top: 10px;
    display: flex;
}

#search i {
    background-color: var(--grey);
    border-radius: 10px 0 0 10px;
    padding: 15px;
    margin-top: 3px;
}

#search .fa-search {
    display: none;
}

#search #search-input {
    padding: 16px;
    margin-top: 3px;
    margin-right: 0px;
    border: 2px solid var(--grey);
    border-radius: 0;
}

#search input::placeholder {
    font-family: var(--font);
    font-size: 10pt;
    color: black;
}

#search #submit {
    padding: 17px;
    padding-top: 17px;
    margin-left: -5px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--blue);
    color: white;
    font-size: 10pt;
    font-family: var(--font);
}

#filters {
    display: flex;
    margin-top: 10px;
}

#filters h4 {
    align-self: center;
}

#filters ul {
    display: flex;
}

#filters #wrap {
    margin-left: -40px;
}

#filters ul li {
    height: 36px;
    list-style-type: none;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 30px;
    border: 2px solid var(--grey);
    border-left: none;
    border-radius: 0 50px 50px 0;
    font-size: 10pt;
    transition: background-color 0.4s ease;
}

#filters ul li:hover {
    background: var(--blue);
    color: white;
}

#filters i {
    padding: 15px;
    margin-top: -4px;
    margin-right: 10px;
    margin-left: -15px;
    color: var(--blue);
    background-color: var(--clearBlue);
    font-size: 15px;
    border-radius: 50%;
}

.info {
    margin-top: 20px;
    font-size: 10pt;
}

.info i {
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    color: var(--blue);
    font-size: 8pt;
    border: 2px solid var(--grey);
    border-radius: 100%;
    margin-right: 10px;
}

section {
    display: flex;
}

main {
flex: 2; 
} 

main #hebergements {
    padding: 30px 20px 40px 20px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--grey);
    border-radius: 15px;
}

main h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 12pt;
}

main h3, main #more {
    margin-left: 15px;
}

main h3, aside h3, article h3 {
    width: 100%;
}

main #hebergements img {
    width: 230px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

main .host, aside .popular-host {
    padding: 5px 5px 10px 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 5px silver;
    font-size: 10pt;
}

main .host {
    margin-right: 17px;
    margin-left: 10px;
}

main a, aside a, #activites a {
    text-decoration: none;
    color: black;
}

main .host .price, main .host .rating {
    padding-left: 10px;
}

main .host .rating {
    margin-top: 5px;
}

.rating {
    color: var(--grey);
}

.rating .blue {
    color: var(--blue);
}

aside #most-popular-host {
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 50px;
    margin-left: -60px;
    margin-right: 60px;
    flex: 1;
    background-color: var(--grey);
    border-radius: 15px;
}

aside h3 {
    margin-bottom: 30px;
}

aside h3 i {
    margin-left: 120px;
}

aside h5 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 11pt;
}

aside #most-popular-host .popular-host {
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

aside #most-popular-host .popular-host img {
    width: 100px;
    height: 110px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

aside figure {
    display: flex;
}

aside .popular-host figcaption {
    margin-right: 30px;
}

aside .popular-host .price {
    margin-top: -10px;
    font-size: 10pt;
}

aside .popular-host .rating {
    margin-top: 15px;
    font-size: 9pt;
}

section {
    margin-top: 30px;
}

section h3 {
    margin-bottom: 0;
}

#activites {
    width: 100%;
    display: flex;
}

#activites img {
    object-fit: cover;
}

#activites .activity {
    margin-left: 0px;
    margin-right: 40px;
}

#activites .activity img {
    width: 284px;
    height: 330px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#activites .double figure {
    margin-bottom: 40px;
}

#activites .double #pomegues {
    height: 150px;
}

#activites .double #frioul {
    height: 100px;
}

#activites .double #notre-dame, #activites .double #longchamp {
    height: 125px;
}

.activity figcaption {
    padding: 10px;
    background-color: white;
    box-shadow: 0px 5px 5px silver;
    border-radius: 0 0 20px 20px;
}

.activity figcaption h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10pt;
}

footer {
    width: 1395px;
    padding: 30px;
    margin-right: 40px;
    margin-left: -70px;
    background-color: var(--grey);
    display: flex;
    justify-content: flex-start;
}

footer h4, footer ul {
    margin-left: 50px;
}

footer ul li {
    margin-left: -40px;
    padding-top: 10px;
    font-size: 10pt;
}

footer div {
    margin-right: 200px;
}

@media all and (min-width: 320px) {
    body {
        width: 320px;
    }
}

@media all and (min-width: 320px) and (max-width: 430px) {
    body {
        width: 100%;
        margin-left: 10px;
        font-size: 12pt;
    }

    header {
        min-width: 100%;
        display: flex;
        justify-content: end;
    }

    header img {
        width: 100px;
        height: 45px;
        margin-left: 5px;
    }

    header nav {
        min-width: 320px;
        font-size: 12pt;
        flex-wrap: wrap;
    }

    header nav .blue {
        color: var(--blue);
    }

    header nav ul li {
        margin-right: 5px;
    }

    #sub-title  {
        justify-content: center;
    }

    #sub-title h2 {
        margin-bottom: 0px;
    }


    #sub-title h2 {
        width: 80%;
        margin-left: 10px;
        font-size: 16pt;

    }

    #sub-title p {
        width: 100%;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 12pt;
    }

    #search {
        width: 100%;
        margin-left: 10px;
        margin-top: 5px;
    }

    #search .fa-map-marker-alt, #search .fa-search {
        font-size: 12pt;
    }

    #search .fa-map-marker-alt {
        padding: 20px;
        padding-top: 20px;
    }

    #search .fa-search {
        display: inline;
        margin-left: -30px;
        padding: 20px;
        padding-top: 22px;
        padding-bottom: 12px;
        background-color: var(--blue);
        border-radius: 15px;
        color: white;
    }

    #search #search-input {
        width: 195px;
        padding: 20px;
        margin-right: 0px;
        border: 2px solid var(--grey);
        border-radius: 0;
    }

    #search #search-input::placeholder {
        font-size: 12pt;
        padding-left: 5px;
    }

    #search #submit {
        display: none;
    }

    #filters {
        min-width: 320px;
        margin-left: 10px;
        flex-wrap: wrap;
    }

    #filters h4 {
        margin-bottom: 20px;
        font-size: 14pt;
    }

    #filters ul {
        margin-top: -10px;
        margin-left: -30px;
        flex-wrap: wrap;
    }

    #filters ul li {
        width: fit-content;
        margin-bottom: 10px;
        margin-right: 13px;
        padding-right: 10px;
        padding-bottom: 5px;
        font-size: 12pt;
    }

    #filters i {
        padding: 15px;
        font-size: 14pt;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .info {
        width: 100%;
        margin-top: -5px;
        margin-left: 10px;
        margin-right: 5px;
        margin-bottom: 0px;
        font-size: 12pt;
    }

    .info i {
        margin-right: 5px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 12pt;
    }

    section, #hebergements {
        width: 100%;
        flex-direction: column;
    }

    main {
        width: 90%;
        justify-content: center;
    }

    main #hebergements {
        margin-bottom: 0px;
        margin-top: -20px;
        padding-top: 0px;
        background-color: white;
        justify-content: center;
    }

    main #hebergements h3, aside h3, aside #most-popular-host h3 i, article h3 {
        margin-bottom: 5px;
        margin-left: 10px;
        font-size: 14pt;
    }

    main #hebergements h3 {
        margin-left: -10px;
    }


    main #hebergements img, article #activites .activity img, article #activites .activity #pomegues,
    article #activites .activity #notre-dame, article #activites .activity #longchamp {
        width: 100%;
        height: 95px;
        object-fit: cover;
    }

    main #hebergements .host {
        width: 95%;
        margin-left: -10px;
        margin-right: 10px;
        margin-bottom: 5px;
        justify-content: center;
    }

    main .host figcaption {
        flex-direction: column;
        align-items: flex-start;
    }

    main .host figcaption h5 {
        margin-left: 0px;
        margin-bottom: 5px;
        padding-top: 5px;
        font-size: 14pt;
    }

    main .host, main .price, aside .popular-host figcaption .price {
        padding-top: 5px;
        font-size: 12pt;
    }

    main .rating {
        margin-top: -15px;
        font-size: 12pt;
    }

    main #more {
        margin-top: 20px;
        font-size: 12pt;
    }

    aside {
        width: 100%;
        margin-top: -20px;
        margin-left: -20px;
    }

    aside #most-popular-host {
        margin-left: 0px;
        border-radius: 0;
    }

    aside #most-popular-host h3, aside #most-popular-host h3 i,
    article h3 {
        margin-top: 0px;
        font-size: 14pt;
    }

    aside #most-popular-host h3 i {
        margin-left: 290px;
    }

    aside #most-popular-host .popular-host {
        width: 85%;
        margin-left: 7px;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-radius: 25px;
    }

    aside #most-popular-host .popular-host img {
        width: 35%;
        height: 140px;
        margin-right: 20px;
    }

    aside #most-popular-host .popular-host figcaption h5 {
        width: 80%;
        margin-top: 5px;
        margin-left: -10px;
        margin-bottom: 20px;
        padding-right: 20px;
        font-size: 14pt;
    }

    aside .popular-host figcaption .price, aside .popular-host .rating {
        width: 200px;
        margin-left: -10px;
        margin-right: -10px;
        font-size: 12pt;
    }

    aside #most-popular-host .popular-host figcaption .host-title .break {
        width: 350px;
        font-size: 12pt;
    }

    aside .popular-host figcaption .rating {
        margin-top: 20px;
    }

    article #activites {
        width: 85%;
        flex-direction: column;
        justify-content: center;
    }

    article h3 {
        margin-left: 10px;
        font-size: 14pt;
    }

    article #activites .activity {
        width: 100%;
        margin-left: 10px;
        margin-right: 35px;
        margin-bottom: 5px;
    }

    article #activites .activity img, article #activites .activity #pomegues, article #activites .activity #notre-dame, 
    article #activites .activity #frioul, article #activites .activity #longchamp {
        width: 103%;
        height: 150px;
    }

    article #activites .activity figcaption {
        width: 95%;
        padding: 15px;
    }

    article #activites .activity figcaption h5 {
        font-size: 12pt;
    }

    footer {
        width: 100%;
        margin-top: 30px;
        padding-bottom: 5px;
        flex-direction: column-reverse;
    }

    footer h4 {
        width: 300px;
        margin-bottom: 3px;
        font-size: 14pt;
    }

    footer ul {
        margin-top: 5px;
    }

    footer ul li {
        width: 300px;
        font-size: 12pt;
    }

    footer div {
        margin-left: 10px;
    }
}

@media all and (min-width: 431px) and (max-width: 600px) {
    body {
        font-size: 1990pt;
    }
}